.sommaire {
    border:1px solid black;
    padding: 5px;
    margin: 2%;
}
section h2 {
    color: red;
    margin-left: 5%;
}

.logo {
    width: 5em;
    margin: 10px;
}

h1 {
    text-align: center;
    padding: 10px;
    margin-left: 5px;
}