body {
    background: linear-gradient(#b3b3b3, white);
    background-repeat: no-repeat;
}
.content {
    margin: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
}
.sommaire {
    border:1px solid black;
    padding: 5px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: justify;
    width: 50%;
    background: linear-gradient(#c0364a, #edc04d);
}
header {
    background-image: url(img/texture-paper.jpg);
    background-repeat: repeat;
    background-size: 220px;
}
section h2 {
    color: black;
    margin-left: 5%;
}

.logo {
    width: 5em;
    margin: 10px;
}

h1 {
    color: #cc4e4c;
    text-align: center;
    padding: 10px;
    margin-left: 5px;
    font-family: "Comic Sans MS";
}

.gras {
    font-weight: bold;
    font-size: 1.6em;
}
.flex {
    display: flex;
}

.meta_description {
    margin-bottom: 1%;
    max-width: 1133px;
}


.image {
    width: 100%;
}